.DS_Store
Thumbs.db
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.project
# public/system/attachments/*
.buildmode
\#*#
*~
*\#
.\#*
*.stamp
*(Autosaved).sqs
config/database.yml
# ECLIPSE - built application files
*.apk
*.ap_
# ECLIPSE - files for the dex VM
*.dex
# ECLIPSE - Java class files
*.class
# ECLIPSE - generated GUI files
*R.java
workspace/.metadata/*